language: node_js
node_js:
  - '10.15.3'
cache:
  directories:
    - 'node_modules'
script:
  - npm test
before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
services:
  - postgresql
deploy:
  provider: heroku
  api_key:
    secure: 71e7c70f-935e-42ab-8223-3e45ce99e599
  app:
    develop: savage-rangers-ah-staging
    master: savage-rangers-ah
after_success: npm run coverage